<section id="projects" class="py-20 bg-black">
  <div style="display: flex;">
    <h2>AutomateDesign</h2>
    <p>
        Une application de bureau qui permet à réaliser des schémas d'automates.<br>
        Ce logiciel est connecté à une API qui regroupe les automates crées par les differents utilisateurs connectées
    </p>
    <h3>Bénéfices</h3>
    <div>

    </div>
    <a href="https://iutdijon.u-bourgogne.fr/mahara/view/view.php?homepage=equipe-sae-s5-01&page=sae-5-automatedesign">Plus d'informations sur sa page mahara dédié</a>
    <a href="https://github.com/dept-info-iut-dijon/S5_ModernTech_AutomateDesign">Voir le projet sur Github</a>
  </div>
  
</section>