<section id="projects" class="py-20" style="background-image: url('automatedesign.png'); background-size: cover; background-position: center; background-attachment: fixed;">
  <div class="max-w-4xl mx-auto px-4 bg-black bg-opacity-75 rounded-lg shadow-lg p-6">

    <h2 class="text-3xl font-bold tracking-wide text-red-700 mb-4">AutomateDesign</h2>
    <p class="text-lg text-gray-300 mb-4">
        Une application de bureau WPF qui permet de réaliser des schémas d'automates.<br>
        Ce logiciel est connecté à une API qui regroupe les automates créés par les différents utilisateurs connectés.<br>
        Réalisé dans le cadre d'un projet universitaire.
      </p>
    <h3 class="text-2xl tracking-wide text-white mb-2">Compétences</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
      <span class="bg-red-700 text-white px-3 py-1 rounded-full text-sm">C#</span>
      <span class="bg-red-700 text-white px-3 py-1 rounded-full text-sm">WPF</span>
      <span class="bg-red-700 text-white px-3 py-1 rounded-full text-sm">XAML</span>
      <span class="bg-red-700 text-white px-3 py-1 rounded-full text-sm">API REST</span>
      <span class="bg-red-700 text-white px-3 py-1 rounded-full text-sm">SQLite</span>
      <span class="bg-red-700 text-white px-3 py-1 rounded-full text-sm">Docker</span>
      <span class="bg-red-700 text-white px-3 py-1 rounded-full text-sm">MVVM</span>
    </div>
    <div class="flex flex-col sm:flex-row gap-4 mb-4">
      <a href="https://iutdijon.u-bourgogne.fr/mahara/view/view.php?homepage=equipe-sae-s5-01&page=sae-5-automatedesign" class="text-blue-400 hover:text-blue-300 hover:underline transition-colors duration-200" target="_blank" rel="noopener noreferrer">Plus d'informations sur sa page mahara dédiée</a>
      <a href="https://github.com/MalindiVal/AutomateDesign" class="text-blue-400 hover:text-blue-300 hover:underline transition-colors duration-200" target="_blank" rel="noopener noreferrer">Voir le projet sur Github</a>
    </div>
    
    
  </div>
</section>

<section id="projects" class="py-20" style="background-image: url('Unyonetnosetablissement.jpg'); background-size: cover; background-position: center; background-attachment: fixed;">
  <div class="max-w-4xl mx-auto px-4 bg-black bg-opacity-75 rounded-lg shadow-lg p-6">

    <h2 class="text-3xl font-bold tracking-wide text-blue-400 mb-4">Gestionnaire de Droits en Go</h2>
    <p class="text-lg text-gray-300 mb-4">
        Application console en Go permettant de gérer les droits des utilisateurs à partir d'un fichier XML.<br>
        Permet de faciliter la gestion des droits dans un environnement hospitalier.
    </p>
    <h3 class="text-2xl tracking-wide text-white mb-2">Compétences</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
      <span class="bg-blue-400 text-white px-3 py-1 rounded-full text-sm">Go</span>
      <span class="bg-blue-400 text-white px-3 py-1 rounded-full text-sm">XML</span>
    </div>
    <div class="flex flex-col sm:flex-row gap-4 mb-4">
      <a href="https://github.com/MalindiVal/GUI-Golang-Gestion-Droits" class="text-blue-400 hover:text-blue-300 hover:underline transition-colors duration-200" target="_blank" rel="noopener noreferrer">Voir le projet sur Github</a>
    </div>
    
    
  </div>
</section>

<section id="projects" class="py-20" style="background-image: url('taskstep.png'); background-size: cover; background-position: center; background-attachment: fixed;">
  <div class="max-w-4xl mx-auto px-4 bg-black bg-opacity-75 rounded-lg shadow-lg p-6">

    <h2 class="text-3xl font-bold tracking-wide text-green-400 mb-4">TaskStep</h2>
    <p class="text-lg text-gray-300 mb-4">
        Application web permettant de gérer des tâches.<br>
        Ceci est une version améliorée d'une application précédente, avec une interface plus moderne et des corrections en terme de code.<br>
        Réalisé dans le cadre d'un projet universitaire.
      </p>
    <h3 class="text-2xl tracking-wide text-white mb-2">Compétences</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
      <span class="bg-green-700 text-white px-3 py-1 rounded-full text-sm">PHP</span>
      <span class="bg-green-700 text-white px-3 py-1 rounded-full text-sm">XAMPP</span>
      <span class="bg-green-700 text-white px-3 py-1 rounded-full text-sm">Audit</span>
      <span class="bg-green-700 text-white px-3 py-1 rounded-full text-sm">Optimisation</span>
    </div>
    <div class="flex flex-col sm:flex-row gap-4 mb-4">
      <a href="https://iutdijon.u-bourgogne.fr/mahara/view/view.php?profile=valentinmalindi&page=sae-4-01-developpement-d-une-application-complexe" class="text-blue-400 hover:text-blue-300 hover:underline transition-colors duration-200" target="_blank" rel="noopener noreferrer">Plus d'informations sur sa page mahara dédiée</a>
      <a href="https://github.com/MalindiVal/S4_B1_TechnoLab_Taskstep" class="text-blue-400 hover:text-blue-300 hover:underline transition-colors duration-200" target="_blank" rel="noopener noreferrer">Voir le projet sur Github</a>
    </div>
    
    
  </div>
</section>

<section id="projects" class="py-20" style="background-image: url('srb2k.png'); background-size: cover; background-position: center; background-attachment: fixed;">
  <div class="max-w-4xl mx-auto px-4 bg-black bg-opacity-75 rounded-lg shadow-lg p-6">

    <h2 class="text-3xl font-bold tracking-wide text-blue-400 mb-4">SRB2 Kart Turbo Mod</h2>
    <p class="text-lg text-gray-300 mb-4">
        Un mod pour le jeu SRB2 Kart, ajoutant de nouvelles fonctionnalités et améliorations au gameplay.<br>
        Ce mod vise à enrichir l'expérience de jeu pour les joueurs de SRB2 Kart
    </p>
    <h3 class="text-2xl tracking-wide text-white mb-2">Compétences</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
      <span class="bg-blue-300 text-white px-3 py-1 rounded-full text-sm">Lua</span>
    </div>
    <div class="flex flex-col sm:flex-row gap-4 mb-4">
      <a href="https://github.com/MalindiVal/SRB2Kart-Turbo-Mode" class="text-blue-400 hover:text-blue-300 hover:underline transition-colors duration-200" target="_blank" rel="noopener noreferrer">Voir le projet sur Github</a>
    </div>
    
    
  </div>
</section>

<section id="projects" class="py-20" style="background-image: url('RapportStage.png'); background-size: cover; background-position: center; background-attachment: fixed;">
  <div class="max-w-4xl mx-auto px-4 bg-black bg-opacity-75 rounded-lg shadow-lg p-6">

    <h2 class="text-3xl font-bold tracking-wide text-green-400 mb-4">RapportStage</h2>
    <p class="text-lg text-gray-300 mb-4">
        Une application Web qui permet de déposer et de consulter des rapports de stage.<br>
        Cette application facilite la gestion et l'accès aux rapports de stage pour les étudiants et les enseignants
        Réalisé dans le cadre d'un projet universitaire.
    </p>
    <h3 class="text-2xl tracking-wide text-white mb-2">Compétences</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
      <span class="bg-red-700 text-white px-3 py-1 rounded-full text-sm">ASP.NET</span>
      <span class="bg-red-700 text-white px-3 py-1 rounded-full text-sm">C#</span>
      <span class="bg-red-700 text-white px-3 py-1 rounded-full text-sm">HTML/CSS/JS</span>
      <span class="bg-red-700 text-white px-3 py-1 rounded-full text-sm">Docker</span>
    </div>
    <div class="flex flex-col sm:flex-row gap-4 mb-4">
      <a href="https://iutdijon.u-bourgogne.fr/mahara/view/view.php?profile=valentinmalindi&page=sae-3-01-developpement-d-une-application"class="text-blue-400 hover:text-blue-300 hover:underline transition-colors duration-200" target="_blank" rel="noopener noreferrer">Plus d'informations sur sa page mahara dédiée</a>
      <a href="https://github.com/MalindiVal/RapportIUT-API" class="text-blue-400 hover:text-blue-300 hover:underline transition-colors duration-200" target="_blank" rel="noopener noreferrer">Voir le projet API sur Github</a>
      <a href="https://github.com/MalindiVal/RapportIUT-Client" class="text-blue-400 hover:text-blue-300 hover:underline transition-colors duration-200" target="_blank" rel="noopener noreferrer">Voir le projet Client sur Github</a>
    </div>
    
    
  </div>
</section>

