@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}