<section id="projects" class="py-16 px-6 max-w-6xl mx-auto">
  <h2 class="text-3xl font-bold mb-10 text-center">Projets récents</h2>

  <div class="grid md:grid-cols-2 gap-10">
    <article class="bg-gray-900 p-6 rounded-xl shadow-lg">
      <img src="/images/automate.png" alt="AutomateDesign" class="rounded-lg mb-4" />
      <h3 class="text-xl font-semibold mb-2">AutomateDesign</h3>
      <p class="text-gray-400 mb-4">
        Création d’un outil de génération de schémas d’automates avec WPF connecté à une API ASP.NET poury enregistrer ses automates.
      </p>
      <a href="#" class="text-emerald-400 font-medium">Voir le projet →</a>
    </article>

  </div>
</section>
