<section id="proxps" class="bg-gray-900 text-center py-12">
  <h2 class="text-3xl font-bold mb-10 text-emerald-400">Expériences Professionnelles</h2>
<h3 class="text-2xl font-bold mb-6">Stages</h3>
  <div class="grid md:grid-cols-2 gap-10 max-w-5xl mx-auto">
    <div>
      

      <article class="bg-gray-800 p-6 rounded-xl shadow-lg">
        <img src="Unyonetnosetablissement.jpg" alt="Centre Hospitalier d'Auxerre" class="rounded-lg mb-4 mx-auto" />
        <h4 class="text-xl font-semibold mb-2 text-white">Centre Hospitalier d'Auxerre</h4>
        <p class="text-gray-400 mb-4">
          <ul>
            <li>Creation d'un programme en Go permettant de gerer les droits de membres à partir d'un fichier XML</li>
            <li>Création d'un progrmme en Powershel pour faciliter l'accès à des scripts bats pour les utilisateur des postes avancées</li>
            <li>Documentation d'une EAI dans un tableau Excel est une visualisation sur un fichier Visio</li>
          </ul>
        </p>
        <a href="https://iutdijon.u-bourgogne.fr/mahara/view/view.php?profile=valentinmalindi&page=stage-but-2">Voir la page Mahara dédiée</a>
        <a href="https://www.ght-unyon.fr/unyon-et-nos-etablissements/centre-hospitalier-d-auxerre/presentation-de-l-etablissement/presentation-de-l-etablissement-106-133.html" class="text-emerald-400 font-medium hover:underline">Voir l'entreprise →</a>
      </article>
    </div>

    <div>
      <article class="bg-gray-800 p-6 rounded-xl shadow-lg">
        <img src="lasalle.jpg" alt="La Salle Passy - Buzenval" class="rounded-lg mb-4 mx-auto" />
        <h4 class="text-xl font-semibold mb-2 text-white">La Salle Passy - Buzenval</h4>
        <p class="text-gray-400 mb-4">
          <ul>
            <li>Déploiement du logiciel CANECO pour une salle de cours</li>
            <li>Configuration de PC portables pour un chariot PC</li>
            <li>Intervantion techniques dans les salles</li>
          </ul>
        </p>
        <a href="https://iutdijon.u-bourgogne.fr/mahara/view/view.php?profile=valentinmalindi&page=periode-en-entreprise-2a">Voir la page mahara dédiée</a>
        <a href="https://www.passy-buzenval.com/" class="text-emerald-400 font-medium hover:underline">Voir l'entreprise →</a>
      </article>
    </div>
  </div>
</section>
