---
const { title } = Astro.props;
---
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body class="bg-gray-950 text-gray-100 font-sans">
    <slot />
  </body>
</html>
